$primary-color: #fdf1eb;

$secondary-color: #ffb353;

$tertiary-color: #725c5c;

$text-color: #333333;

$gradient-color: linear-gradient(rgba(255,179,84,1) 5%, rgba(238,122,58,1) 100%);

$title-color: #ed7839;

$border-color: #e7e7e7;